<div class="cq-placeholder" data-emptytext="Team Listing Component" data-sly-test="${wcmmode.edit || wcmmode.design}"> </div>
<section class="section--team-listing">
    <header class="section-header">
        <div class="wrapper">
            <sly data-sly-test="${properties.title}"><h2 class="title">${properties.title}</h2></sly>
            <div class="details">
                <sly data-sly-test="${properties.subTitle}"><div class="overline">${properties.subTitle}</div></sly>
                <sly data-sly-test="${properties.description}">
                    <div class="text-medium">
                        <p>${properties.description @ context='html'}</p>
                    </div>
                </sly>
            </div>
        </div>
    </header>
    <div class="main-area">
        <div class="wrapper">
            <div class="grid">
                <sly data-sly-list.multifield="${resource.getChildren}">
                    <sly data-sly-test="${multifield.name == 'cards'}">
                        <sly data-sly-list.cardItem="${multifield.getChildren}">
                            <div class="card">
                                <a  role="button" class="card-link js-modal-trigger" data-modal-id="team-listing-${cardItemList.count}"></a>
                                <sly data-sly-test="${cardItem.fileReferenceImage}">
                                    <div class="card-image">
                                        <img src="${cardItem.fileReferenceImage}" alt="${cardItem.imageAlt}" />
                                    </div>
                                </sly>
                                <sly data-sly-test="${cardItem.memberName}"><div class="card-name">${cardItem.memberName @context='styleComment'}</div></sly>
                                <sly data-sly-test="${cardItem.role}"><div class="card-role">${cardItem.role}</div></sly>
                            </div>
                        </sly>
                    </sly>
                </sly>

            </div>
        </div>
    </div>
    <sly data-sly-list.multifield="${resource.getChildren}">
        <sly data-sly-test="${multifield.name == 'cards'}">
            <sly data-sly-list.popupItem="${multifield.getChildren}">
                <div class="member-modal modal js-modal" data-id="team-listing-${popUpItemList.count}">
                    <div class="modal-backdrop js-close"></div>
                    <div class="modal-wrapper">
                        <div class="box">
                            <button type="button" class="close-button js-close">
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2.92871 2.92902L17.0708 17.0712" stroke="currentColor" stroke-width="1.5"/>
                                    <path d="M17.0723 2.92896L2.93013 17.0711" stroke="currentColor" stroke-width="1.5"/>
                                </svg>
                            </button>
                            <sly data-sly-test="${popupItem.fileReferenceImage}">
                                <div class="image">
                                    <img src="${popupItem.fileReferenceImage}" alt="${popupItem.imageAlt}" />
                                </div>
                            </sly>
                            <div class="content">
                                <div class="content-header">
                                    <sly data-sly-test="${popupItem.popupMemberName}"><div class="name">${popupItem.popupMemberName}</div></sly>
                                    <sly data-sly-test="${popupItem.role}"><div class="role">${popupItem.role}</div></sly>
                                </div>
                                <sly data-sly-test="${popupItem.popupDescription}">
                                    <div class="text">
                                        ${popupItem.popupDescription @ context='html'}
                                    </div>
                                </sly>
                            </div>
                        </div>
                    </div>
                </div>
            </sly>
        </sly>
    </sly>
</section>