<div data-sly-test="${(wcmmode.edit || wcmmode.design)}" class="cq-placeholder" data-emptytext="Configure Data grid in EDIT Mode"></div>

	<section class="section--data-grid">
		<div class="wrapper">
		  <sly data-sly-list.multifieldNodes="${resource.getChildren}">
			<sly data-sly-test="${multifieldNodes.name =='grids'}">
			  <sly data-sly-test="${multifieldNodes.getChildren}" data-sly-list="${multifieldNodes.getChildren}">
				<sly data-sly-use.linkChecker="${'com.cision.revamp.core.helper.LinkCheckerHelper' @ link=item.link}">
					<sly data-sly-test="${item.value || item.title || item.description}">
						<div class="item">
							<sly data-sly-test="${item.title}">
								<div class="item-label">${item.title}</div>
							</sly>
							<sly data-sly-test="${item.value}">
								<div class="item-value">${item.value}</div>
							</sly>
							<sly data-sly-test="${item.description}">
								<div class="item-description">${item.description}</div>
							</sly>
						</div>
					</sly>
				</sly>
			  </sly>
			</sly>
		  </sly>
		</div>
	</section>