<div data-sly-test="${(wcmmode.edit || wcmmode.design)}" class="cq-placeholder" data-emptytext="Configure Banner Component in EDIT Mode"></div>
<section class="section--top-hero" data-sly-test="${properties.text @ context='html'}">
            <header class="section-header text-center">
                <div class="wrapper">
                    <div class="flex">
                        <div class="content">
                            <h1 class="title">
                                 ${properties.text @ context='html'}
                            </h1>
                        </div>
                    </div>
                </div>
            </header>
        </section>