<div data-sly-test="${(wcmmode.edit || wcmmode.design)}" class="cq-placeholder"
     data-emptytext="Configure column selector in EDIT Mode"></div>
<sly data-sly-test.select="${properties.sectionhome}" data-sly-unwrap>
   <sly data-sly-test="${select == 'fullparsys'}" data-sly-unwrap>
      <section class="section--column column">
         <div class="wrapper">
            <div class="main-area">
               <div class="col">
                  <div data-sly-resource="${@ path='left_par', resourceType='wcm/foundation/components/parsys'}"
                       data-sly-unwrap></div>
               </div>
            </div>
         </div>
         </div>
      </section>
   </sly>
   <sly data-sly-test="${select == 'halfparsys'}" data-sly-unwrap>
      <section class="section--column column-50-50">
         <div class="wrapper">
            <div class="main-area">
               <div class="col">
                  <div data-sly-resource="${@ path='left_par', resourceType='wcm/foundation/components/parsys'}"
                       data-sly-unwrap></div>
               </div>
               <div class="col">
                  <div data-sly-resource="${@ path='right_par', resourceType='wcm/foundation/components/parsys'}"
                       data-sly-unwrap></div>
               </div>
            </div>
         </div>
         </div>
      </section>
   </sly>
   <sly data-sly-test="${select == '6040parsys'}" data-sly-unwrap>
      <section class="section--column column-60-40">
         <div class="wrapper">
            <div class="main-area">
               <div class="col">
                  <div data-sly-resource="${@ path='left_par', resourceType='wcm/foundation/components/parsys'}"
                       data-sly-unwrap></div>
               </div>
               <div class="col">
                  <div data-sly-resource="${@ path='right_par', resourceType='wcm/foundation/components/parsys'}"
                       data-sly-unwrap></div>
               </div>
            </div>
         </div>
      </section>
   </sly>
   <sly data-sly-test="${select == '4060parsys'}" data-sly-unwrap>
      <section class="section--column column-40-60">
         <div class="wrapper">
            <div class="main-area">
               <div class="col">
                  <div data-sly-resource="${@ path='left_par', resourceType='wcm/foundation/components/parsys'}"
                       data-sly-unwrap></div>
               </div>
               <div class="col">
                  <div data-sly-resource="${@ path='right_par', resourceType='wcm/foundation/components/parsys'}"
                       data-sly-unwrap></div>
               </div>
            </div>
         </div>
      </section>
   </sly>
   <sly data-sly-test="${select == '7030parsys'}" data-sly-unwrap>
      <section class="section--column column-70-30">
         <div class="wrapper">
            <div class="main-area">
               <div class="col">
                  <div data-sly-resource="${@ path='left_par', resourceType='wcm/foundation/components/parsys'}"
                       data-sly-unwrap></div>
               </div>
               <div class="col">
                  <div data-sly-resource="${@ path='right_par', resourceType='wcm/foundation/components/parsys'}"
                       data-sly-unwrap></div>
               </div>
            </div>
         </div>
      </section>
   </sly>
   <sly data-sly-test="${select == '3070parsys'}" data-sly-unwrap>
      <section class="section--column column-30-70">
         <div class="wrapper">
            <div class="main-area">
               <div class="col">
                  <div data-sly-resource="${@ path='left_par', resourceType='wcm/foundation/components/parsys'}"
                       data-sly-unwrap></div>
               </div>
               <div class="col">
                  <div data-sly-resource="${@ path='right_par', resourceType='wcm/foundation/components/parsys'}"
                       data-sly-unwrap></div>
               </div>
            </div>
         </div>
      </section>
   </sly>
   <sly data-sly-test="${select == '2575parsys'}" data-sly-unwrap>
      <section class="section--column column-25-75">
         <div class="wrapper">
            <div class="main-area">
               <div class="col">
                  <div data-sly-resource="${@ path='left_par', resourceType='wcm/foundation/components/parsys'}"
                       data-sly-unwrap></div>
               </div>
               <div class="col">
                  <div data-sly-resource="${@ path='right_par', resourceType='wcm/foundation/components/parsys'}"
                       data-sly-unwrap></div>
               </div>
            </div>
         </div>
      </section>
   </sly>
   <sly data-sly-test="${select == '255025parsys'}" data-sly-unwrap>
      <section class="section--column column-25-50-25">
         <div class="wrapper">
            <div class="main-area">
               <div class="col">
                  <div data-sly-resource="${@ path= 'left_par',  resourceType='wcm/foundation/components/parsys'}"></div>
               </div>
               <div class="col">
                  <div data-sly-resource="${@ path= 'middle_par',  resourceType='wcm/foundation/components/parsys'}"></div>
               </div>
               <div class="col">
                  <div data-sly-resource="${@ path='right_par',  resourceType='wcm/foundation/components/parsys'}"></div>
               </div>
            </div>
         </div>
      </section>
   </sly>
</sly>

