<div class="cq-placeholder" data-emptytext="Image Only Component" data-sly-test="${wcmmode.edit || wcmmode.design}">
    </div>
     <section class="section--image-only">
             <sly data-sly-test="${properties.decorationImg}">
                    <div class="decoration">
                         <img src="${properties.decorationImg}" alt="${properties.decorationImgAlt}">
                    </div>
                </sly>
                <div class="wrapper">
                    <sly data-sly-test="${properties.fileReferenceImage}">
                          <div class="image">
                             <img src="${properties.fileReferenceImage}" alt="${properties.imagealt}">
                       </div>
                    </sly>
                </div>
            </section>





