<div data-sly-test="${(wcmmode.edit || wcmmode.design)}" class="cq-placeholder" data-emptytext="Configure Wrapper CustomRTE Component in EDIT Mode"></div>
<section class="section--content-links full-width" data-sly-test="${properties.text @ context='html'}">
    <div class="content">
        <div class="wrapper">
            <div class="content-wrapper">
                <header class="content-header">
                </header>
                <div class="links-wrapper">
                    <article class="content rich-text">
                        ${properties.text @ context='html'}
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>